* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-bottom: 4rem;
}

@media only screen and (max-width: 1080px) {

  .jumboContainer {
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .jumbo {
    width: 100%;
    max-height: 100vh;

  }

  .scriptContainer {
    position: absolute;
    text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
    color: white;
  }

  .scriptTitle {
    font-size: 5rem;
  }

  .scriptContent {
    width: 50%;
    font-size: 1rem;
    
  }

  .contactsContainer {
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: auto;
    padding-top: 2rem;
  }
  
  .formContainer {
    width: 100%;
    align-self: flex-start;
  }



  /* Tentativo di animazione */
  .fade-in {
  opacity: 0;
  transform: translate(10vh);
  transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.fade-in.in-page {
  opacity: 1;
  transform: translate(0vh);
}
}